:root {
    --body-imagem-fundo: url("../images/plano-fundo.jpg");

    --principal-cor-fundo: #FFFFF0;
    --link-cor: #FF8C00;
    --botao-cor: #FF4500;
    --botao-texto-cor: #FFFFFF;

    --fonte-titulo: Tahoma, sans-serif;
    --fonte-texto: 'Gill Sans', sans-serif;
    --fonte-entrada: georgia, serif;
    --fonte-botao: courier, monospace;

    --fonte-tamanho-titulo: 2.5rem;
    --fonte-tamanho-texto: 1.25rem;
    --fonte-tamanho-entrada: 1rem;
    --fonte-tamanho-botao: 0.875rem;

    --espacamento-externo: 1.25rem;
    --espacamento-interno-entrada: 0.5rem 0.75rem;
    --espacamento-interno-principal: 1.875rem;
    --espacamento-interno-botoes: 0 0.625rem;
    --espacamento-interno-botao: 0.625rem 1.25rem;

    --borda-arredondamento: 0.3125rem;
}

body {
    background-image: var(--body-imagem-fundo);
    padding: 3.75rem 0;
}

.principal {
    background-color: var(--principal-cor-fundo);
    border-radius: var(--borda-arredondamento);
    margin: auto;
    
    width: 80%;
}

.principal__sequencia__fibonacci {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--espacamento-interno-principal);
}

.principal__sequencia__fibonacci__titulo {
    font-family: var(--fonte-titulo);
    font-size: var(--fonte-tamanho-titulo);
}

.principal__sequencia__fibonacci__texto {
    margin-bottom: var(--espacamento-externo);
    font-family: var(--fonte-texto);
    font-size: var(--fonte-tamanho-texto);
}

.principal__sequencia__fibonacci__erro {
    color: #FF0000;
}

.principal__sequencia__fibonacci__texto__link {
    color: var(--link-cor);
}

.principal__sequencia__fibonacci__entrada {
    font-family: var(--fonte-entrada);
    font-size: var(--fonte-tamanho-entrada);
    padding: var(--espacamento-interno-entrada);
    border-style: solid;
    border-radius: var(--borda-arredondamento);
}

.principal__sequencia__fibonacci__botoes {
    display: flex;
    gap: var(--espacamento-interno-botoes);
    margin: var(--espacamento-externo);
}

.principal__sequencia__fibonacci__botoes__botao {
    background-color: var(--botao-cor);
    border-radius: var(--borda-arredondamento);
    border: none;
    padding: var(--espacamento-interno-botao);
    font-family: var(--fonte-botao);
    font-size: var(--fonte-tamanho-botao);
    font-weight: bolder;
    cursor: pointer;
    color: var(--botao-texto-cor);
}

.principal__sequencia__fibonacci__resposta {
    display: none;
}

.principal__sequencia__fibonacci__imagem {
    width: 30%;
    margin: var(--espacamento-externo);
    border-radius: var(--borda-arredondamento);
}

.principal__sequencia__fibonacci__video {
    margin: var(--espacamento-externo);
    border-radius: var(--borda-arredondamento);
}

@media (max-width: 500px) {
    .principal__sequencia__fibonacci__titulo {
        font-size: 1.6875rem;
    }

    .principal__sequencia__fibonacci__texto,
    .principal__sequencia__fibonacci__erro {
        font-size: 0.8125rem;
    }

    .principal__sequencia__fibonacci__entrada {
        font-size: 0.75rem;
        padding: 0.4375rem 0.75rem;
    }

    .principal__sequencia__fibonacci__botoes__botao {
        font-size: 12px;
        padding: 8px 16px;
    }
}